<html>
    <body>

        <h2>Checkboxes</h2>
        <p>The <strong>input type="checkbox"</strong> defines a checkbox:</p>
        
        <form action="/action_page.php">
          <input type="checkbox" id="" name="" value="">
          <label for=""> Fiction</label><br>
          <input type="checkbox" id="" name="" value="">
          <label for="vehicle2"> Non-Fiction</label><br>
          <input type="checkbox" id="" name="" value="">
          <label for="vehicle3"> Historical</label><br><br>
          <input type="checkbox" id="" name="" value="">
          <label for="vehicle3"> Self-Development</label><br><br>
          <input type="checkbox" id="" name="" value="">
          <label for="vehicle3"> Biography</label><br><br>
          <input type="checkbox" id="" name="" value="">
          <label for="vehicle3"> Business</label><br><br>
          <input type="submit" value="Submit">
        </form> 
        
        </body>
</html>