body {
    background-color: #FFF8E5;
}
.all-content {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-profile-picture {
    margin-left: 30px;
}