{% extends 'base_user.html' %}   <!-- specific navbar for user -->
{% load static %}
<!-- 
{% block content %} -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile_pic.css' %}">
    <body>
        <div class="edit-profile-picture">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="choose-file-btn">
                    {{ form.profile_pic }}
                </div>
                <br>
                <button class="update-btn" type="submit">Update</button>
            </form>
        </div>
    </body>
<!-- {% endblock content %} -->

<!-- test commit -->
