{% extends 'base_user.html' %}   <!-- specific navbar for user -->
{% load static %}
<!-- 
{% block content %} -->
<meta charset="UTF-8"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile_pic.css' %}">
    <body>
        <div class="all-content">
            <div class="current-profile-pic">
                <img class="profile-pic-img" id="current" src={{user.profile.profile_pic.url}} style="max-width: 230px; object-fit: cover; width: 230px; height: 230px; border-radius: 50%;"> 
            </div>
            <div class="edit-profile-picture">
                <form action="" id="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="choose-file-btn" id="img-file">
                        {{ form.profile_pic }}
                    </div>
                    <br>
                    <button class="update-btn" type="submit" id="update_btn">Update</button>
                </form>
            </div>
        </div>
    </body>
<!-- {% endblock content %} -->

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#update_btn').click(function(){
            var fd = new FormData();
            var files = $('#img-file')[0].files[0];
            fd.append('img-file', files);

            $.ajax({
                url: "{% url 'profilePicForm' %}",
                type: "POST",
                data: fd,
                dataType: false,
                contentType: false,
                processData: false,
                cache: false,
                success: function(response){
                            if(response != 0){
                                $("#current").attr("src",response);
                                $('.current-profile-pic img').show();
                            }else{
                                alert('File not uploaded');
                            }
                        }
            });
        });
    });
</script>
{% endblock js %}
