{% extends 'base_user.html' %}   <!-- specific navbar for user -->
{% load static %}

<!--{% block content %} -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile_details.css' %}">
    <body>
        <div class="all-content">
            <div class="row">

                <div class="column-left">
                    <div class="profile-pic"> 
                        <img class="profile-pic-img" src={{user.profile.profile_pic.url}} style="max-width: 230px;"> 
                    </div>
                    <div class="edit-profpic-text" >
                        <a href="http://localhost:8000/fina/profile/edit-profile-picture">Edit Profile Picture</a>
                    </div>
                    
                    {% if user.is_authenticated %}
                    <button type="submit" class="logout-button">
                        <a href="http://localhost:8000/fina/">LogOut</a>
                    </button>
                        {% endif %}
                </div>

                <div class="column-right">
                    <div class="user-name">
                        {{user.profile.name}}
                    </div>
                    <div class="member-since">
                        Member since:
                        {{user.profile.member_since}}
                    </div>
                    <div class="interest-word">
                        Interests
                    </div>
                    {% for interest in user.profile.interest %}
                        <span class="interest">
                            {{ interest }}
                        </span>
                    {% endfor %}
                    <a class="add-button" href="http://localhost:8000/fina/profile/add-interest">
                        <img src="{% static 'img/plus-button.png'%}" style="max-width:35px; max-height:41px;" >
                    </a>
                </div>
            </div>
        </div>
    </body>
    <!-- {% endblock content %} -->

