{% extends 'base_user.html' %}   <!-- specific navbar for user -->
{% load static %}
<!-- 
{% block content %} -->
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile_details.css' %}">
    <body>
        <div class="user-name">
            {{user.profile.name}}
        </div>
        <h5 class="word-member-since">
            Member since
        </h5>
        <div class="member-since">
            {{user.profile.member_since}}
        </div>
        <div class="profile-pic"> 
            <!-- Tergantung request, trs user (karena ini semua tergantung user siapa yang sedang logged in), 
                memiliki relasi dengan PROFILE model, and
                what we need to access is the "profile_pic" attribute.
                Dan yang kita butuhkan adalah url nya -->
            <!-- <img class="profile-pic-img" src={{request.user.profile.profile_pic.url}}>  -->
            <img class="profile-pic-img" src={{user.profile.profile_pic.url}} style="max-width: 230px;"> 
        </div>

        <br>
        <div class="edit-profpic-text" >
            <a href="http://localhost:8000/fina/profile/edit-profile-picture">Edit Profile Picture</a>
        </div>

        <br>

        {% if user.is_authenticated %}
        <button type="submit" class="logout-button">
            <a href="http://localhost:8000/fina/">LogOut</a>
        </button>
        {% endif %}

    </body>
<!-- {% endblock content %} -->
